In [1]:
import pandas as pd

In [2]:
url = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/" 
# notice how we can specify some parameters in the url

In [3]:
dfs = pd.read_html(url, header=0) # i know that i want the first row to server for column names
type(dfs)

list

In [4]:
len(dfs) # why list and why such length ?

7

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html
# pandas reads tables by default ALL tables on the page

In [5]:
df = dfs[4] # the 5th table on our page has our info
df.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,В самом сердце Риги продаётся квартира Квартир...,Kalniņa 1,1,26,4/5,Renov.,"3,038 €","79,000 €"
1,NaN,NaN,"Kрасивая квартира в самом центре Риги, по адре...",Merķeļa 17,2,60,2/4,P. kara,"2,667 €","160,000 €"
2,NaN,NaN,Pārdodam elegantu 5 istabu dzīvokli pilsētas c...,Marijas 16,5,172,1/7,P. kara,"1,599 €","275,000 €"
3,NaN,NaN,"Gaumīgs, mēbelēts divstāvu dzīvoklis ar balkon...",Pulkv. Brieža 7,3,104,6/7,Renov.,"2,423 €","252,000 €"
4,NaN,NaN,Īpašnieks pārdod dzīvokli ar pēlēko apdari jau...,Kungu 25,1,24,5/6,Jaun.,"2,083 €","49,990 €"

In [6]:
df.shape

(30, 10)

In [7]:
url2 = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html"

In [8]:
dflist = pd.read_html(url2, header=0)
len(dflist)

7

In [9]:
dflist[4].head() # getting start of 5th table from our 2nd html page

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,Последняя 3х комнатная квартира в Тихом центре...,Valdemāra 37,3,78,5/6,Renov.,"2,304 €","179,700 €"
1,NaN,NaN,Продается 2х комнатная квартира в новом проект...,Strēlnieku 7,3,59,3/7,Jaun.,"2,978 €","175,700 €"
2,NaN,NaN,Virtuve iekļauta cenā Tikko pēc remonta kompak...,Ģertrūdes 99,2,43,3/6,Renov.,"2,034 €","87,450 €"
3,NaN,NaN,"Liels vienistabas dzīvoklis, ko var pārbūvēt p...",Tomsona 19,1,40,1/5,Hrušč.,"1,100 €","44,000 €"
4,NaN,NaN,Pārplanots un izremontēts 3.istabu dzīvoklis ķ...,Pērnavas 39,3,64,2/6,P. kara,"1,406 €","90,000 €"

In [10]:
bigdf = pd.concat([df, dflist[4]]) # concat creates a new dataframe from an iterable! of dataframes
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html
bigdf.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,В самом сердце Риги продаётся квартира Квартир...,Kalniņa 1,1,26,4/5,Renov.,"3,038 €","79,000 €"
1,NaN,NaN,"Kрасивая квартира в самом центре Риги, по адре...",Merķeļa 17,2,60,2/4,P. kara,"2,667 €","160,000 €"
2,NaN,NaN,Pārdodam elegantu 5 istabu dzīvokli pilsētas c...,Marijas 16,5,172,1/7,P. kara,"1,599 €","275,000 €"
3,NaN,NaN,"Gaumīgs, mēbelēts divstāvu dzīvoklis ar balkon...",Pulkv. Brieža 7,3,104,6/7,Renov.,"2,423 €","252,000 €"
4,NaN,NaN,Īpašnieks pārdod dzīvokli ar pēlēko apdari jau...,Kungu 25,1,24,5/6,Jaun.,"2,083 €","49,990 €"

In [11]:
df.shape, dflist[4].shape, bigdf.shape

((30, 10), (30, 10), (60, 10))

In [12]:
bigdf.to_excel("riga_center_60.xlsx")

In [ ]:
# so if we know the last page of

In [ ]:
# Challenge how to automatically get all pages no matter how many ads?
# how to scrape web address for each ad (in case we want to look in to the ad more in depth)